@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Michroma", sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  color: rgb(14, 13, 13);
  font-weight: 100;
  font-style: normal;
}
